* { margin: 0;
    padding: 0;
}

html {
    /* background-image: linear-gradient( black, rgb(72, 72, 72), rgb(148, 147, 147), rgb(175, 175, 175), white);  */
    background-image: radial-gradient(circle, #ffffff, #e1e1e1, #c4c4c4, #a8a8a8, #8c8c8c, #777777, #626262, #4e4e4e, #3b3b3b, #292929, #181818, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    text-decoration: none;
}

.container {
    max-width: 850px;
    margin: 0 auto;
    padding: 200px 15px 0px 15px;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-gap: 20px;
    align-items: start;
}

.container div {
    /* background-color: #ccc; */ 
    padding: 10px;
    /* border: 1px solid blue; */
}

.container div:nth-child(1) {
    grid-row: 1/3;
    padding: 0;
    display: grid;
    margin: auto;
    height: 300px;
}

.container div:nth-child(1) img {
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.598);
    vertical-align: top;
    box-shadow: #817b82 4px 4px 4px;
}

.container div:nth-child(2) h1 {
    /* background-color: rgba(161, 159, 159, 0.192); */
    font-family: 'Merriweather', serif;
    font-size: 60px;
    text-shadow: #ffffff 2px 2px 2px;
    text-align: center;
}

.container div:nth-child(3) h2 {
    color: #000000;
    font-size: 18px;
    font-family: 'Noto Serif', serif;
    text-align: center;
}

.container div:nth-child(3) h2 p {
    margin-bottom: 15px;
}

.container div:nth-child(5) {
    text-align: center;
}

.container div:nth-child(5) a {
    text-decoration: none;
    color: black;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
}

.container div:nth-child(5) a:hover {
    color: rgba(35, 35, 35, 0.398);
}

.positions ul {
    list-style: none;
}

.positions ul li {
    margin-bottom: 2px;
    /* border-bottom: 1px solid red;  #linha divisória temporária */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.positions ul li p {
    font-size: 0.95rem;
    line-height: 1.4;
    color: #262626;
    margin-top: 55px;
    margin-bottom: 8px;
}

.positions ul li img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.container div:nth-child(5) img {
    width: 25px;
    vertical-align: middle;
}

.container div:last-child {
    grid-column: 1/-1;
    font-family: 'Noto Serif', serif;
    font-size: 12px;
    text-align: center;
    color: #060606e0;
    padding-top: 50px;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        padding: 0px 15px 0px 15px;
    }
    .container div {
        margin: 5px;
        padding: 0;
    }
    .container div:nth-child(1) {
        height: 200px;
    }
    .container div:nth-child(3) h2 {
        color: #000000;
        font-size: 15px;
        font-family: 'Noto Serif', serif;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .container div:nth-child(4) {
        height: 4px;
        margin: 0;
        padding: 0;
    }
    .container div:nth-child(5) a {
        text-decoration: none;
        color: black;
        font-family: 'Noto Serif', serif;
        font-size: 14px;
    }
    .container div:last-child {
        padding-top: 20px;
    }
}